template EntityContainer() {
		<table>
		<caption>Container</caption>
		<thead>
			<tr>
				<td>#</td>
				<td>Symbol</td>
				<td>Decimal Notation</td>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot></tfoot>
	</table>
}
