template pager(var data) {
	<div>
		<table>
		<caption>Caption</caption>
		<thead>
			<tr>
				<th>Number</th>
				<th>Entity</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>
			</td>
			<td>
			</td>
		</tr>
		</tbody>
		<tfoot>
				<tr>
			<td>
			</td>
			<td>
			</td>
		</tr>
		</tfoot>
		</table>
		
		<p>${data}</p>
	</div>
}